.modal-body,
.modal-header {
    background: #D9D9D9;
}

.modal-body {
    div:first-child {
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        margin: 15px;
    }

    .container-form {
        display: flex;
        flex-direction: column;

        button {
            width: 100px;
            align-self: self-end;
        }

        form{
            .form-group{
                .form-group{
                    margin-top: 20px;
                }
            }
        }
    }
}

.modal-header {
    border-bottom: none;
}

.comment-spinner {
    display: flex;
    justify-content: center;
    margin: 50px;
}