<div class="comment-spinner" *ngIf="!loading">
    <div class="spinner-grow" role="status">
        <span class="sr-only"></span>
    </div>
</div>


<div *ngIf="loading">
    <div class="modal-header">
        <h4 class="modal-title">Adicionar comentário</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
    </div>
    <div class="modal-body">
        <div class="container-form">
            <form id="formSaveComment" [formGroup]="formSaveComment" (submit)="saveComment()">

                <div class="form-group">
                    <label for="cmtName">Nome</label>
                    <input type="text" formControlName="cmtName" class="form-control" id="cmtName">
                    <small id="nameHelp" class="form-text text-muted" *ngIf="formErrorFieldName?.touched && !formErrorFieldName?.valid">Informe seu nome</small>

                    <div class="form-group">
                        <label for="cmtComment">Comentário</label>
                        <textarea class="form-control" formControlName="cmtComment" id="cmtComment" rows="3"></textarea>
                        <small id="nameHelp" class="form-text text-muted" *ngIf="formErrorFieldComment?.touched && !formErrorFieldComment?.valid">Informe o comentário</small>
                    </div>                    
                </div>
                
            </form>

            <button type="submit" form="formSaveComment" [disabled]="!formParams.valid" class="btn btn-primary">Salvar</button>
        </div>
    </div>
</div>